<aside class="sidebar">
  <nav>
    <ul>
      <li><a href="#">Amigos</a></li>
      <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mxoQnDMW4SxOZ7GRd8AFFgHaHa%26pid%3DApi&sp=1722870828Ta7c7770d9a3e681c2e06a8ea55852505ba26a1a358c9529f79e08b8b196881bb">
      <li><a href="#">Profile</a></li>
      <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.oXzqq6dnQIUDZyv3Pha69QHaHa%26pid%3DApi&sp=1722870703Td3d910259e8e92c9d5bc0a388b2284b46f3238cfa40c289e7aca3629233476cd">
      <li><a href="#">Memories</a></li>
      <img src="https://www.startpage.com/av/proxy-image?piurl=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.6XWRg0VzN-pn5b6qHz2YDQHaHa%26pid%3DApi&sp=1722870438T58207e750b7f16f7235677beee11bc0dce4038f1436db78d7c633537b026f2f5">
    </ul>
  </nav>
</aside>
